<section class="gallery-container">
    <% var vLuni = ["ianuarie", "februarie", "martie", "aprilie", "mai",
    "iunie", "iulie", "august", "septembrie", "octombrie", "noiembrie",
    "decembrie"]; var d = new Date(); var lunaCurenta = vLuni[d.getMonth()]; var
    counter = 1; for (let imag of locals.imagini) { if
    (imag?.luni?.includes(lunaCurenta)) { %>
    <figure class="gallery-item">
        <picture>
            <source
                srcset="<%= imag.cale_relativa_mediu %>"
                media="(max-width:1200px)"
            />
            <img
                src="<%= imag.cale_relativa %>"
                alt="<%= imag.alt ? imag.alt : imag.nume %>"
                title="<%= imag.descriere_imag %>"
            />
        </picture>

        <figcaption>
            <%= ("0" + counter).slice(-2) %> <%= imag.descriere_imag %>
        </figcaption>
    </figure>
    <% counter++; } } %>
</section>
